<div id="main">
       <form action="">
              <div id="image-size-set" style="background-image: url('../../../../../public/bad-picture.jpg');">
                     <button class="submit-button">Upload photo</button>
              </div>
              <div class="options-div">
                     <label for="PNG">PNG</label>
                     <input type="radio" name="PNG" id="png-button" value="0" />
                     <label for="JPG">JPG</label>
                     <input type="radio" name="JPG" id="jpg-button" value="1" />
                     <label for="BMP">BMP</label>
                     <input type="radio" name="BMP" id="bmp-button" value="2" />
              </div>

       </form>


</div>