<div id="main">
    <div class="list-div">
        <div class="stats-div">
            <div class="stats-element">
                <h5>Number of photos left: </h5>
                <p>{{package.allowedPhotos}}</p>

            </div>
        </div>
        <div class="stats-div">
            <div class="stats-element">
                <h5>Number of MB uploaded: </h5>
                <p>{{package.allowedMegabytes}}</p>
                
            </div>
        </div>
        <div class="stats-div">
            <div class="stats-element">
                <h5>Time until reset: </h5>
                <p>{{fetchedTime.getSeconds()}}</p>

            </div>
        </div>
        <div class="options-div">
            <button>Check aditional info</button>
        </div>
    </div>
</div>