<div id="main">
    <div id="login-div">
        <form (ngSubmit)="submitCheck()">
            <h2>Login to PoTo:</h2>

            <label for="email">Email</label>
            <input type="email" id="email-input" [field]="form.email!"/>
            <div class="error-div"></div>
            <label for="password">Password</label>
            <input type="password" id="password-input" [field]="form.password!"/>
            <div class="options-div">
                <button type="submit" class="submit-button">Login</button>
            </div>
            <div id="alternative-options">
                <button>Continue as Guest</button>
            </div>
            @if(errors.length != 0){
            <div class="error-div">
                @for(error of errors; track $index){
                    {{error}}
                }
            </div>
            }
            <div class="options-div">
                <a routerLink="/register">Dont have an account? Register for free.</a>
            </div>
        </form>

    </div>
</div>