<div id="main">
    <div id="login-div">
        <form>
            <h2>Login to PoTo:</h2>
            <label for="email">Username</label>
            <input type="email" name="email" id="email-input" />
            <label for="password">Password</label>
            <input type="password" name="password" id="password-input" />
            <div class="options-div">
                <button type="submit" class="submit-button">Login</button>
            </div>
            <div id="alternative-options">
                <button>Continue as Guest</button>
            </div>
            <div class="options-div">
                <a routerLink="register">Dont have an account? Register for free.</a>
            </div>
        </form>

    </div>
</div>