

a{
    text-decoration: none;
    color: var(--minor-color);
    margin-top: 10px;
}

a:hover{
    text-decoration: underline;
}

.submit-button{
    width: 100%;
    margin-top: 10px;
}

#alternative-options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alternative-options>button{
    width: 100%;
}

#next-slide{
    position: relative;
}

#current-slide{
    position: relative;
}

#main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/photos.png');
    background-position: center;
    background-size: cover;
}