<div id="main">
    <div id="current-slide" #currentSlide>
        <div id="login-div">
            <form>
                <h2>Register</h2>
                <label for="email">Username</label>
                <input type="email" id="email-input" [field]="registerForm.email" />
                <label for="password">Password</label>
                <input type="password" id="password-input" [field]="registerForm.password"/>
                <label for="repeat-password">Repeat Password</label>
                <input type="password" id="repeat-password-input" [field]="registerForm.repeatedPassword"/>
                <div class="options-div">
                    <button class="submit-button" (click)="pushNextSlide(); submitForm();" type="button">Register</button>
                </div>
                <div id="alternative-options">
                    <button>Register with Google</button>
                    <button>Register with Github</button>
                </div>
            </form>
        </div>
    </div>
    <div id="next-slide" #nextSlide></div>
</div>